@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=VT323&family=Inconsolata:wght@400;700&display=swap');
:root {
	--mainborder: #ff0000;
	}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

  body {cursor: url('cursor.gif'), auto;}
  a, a:hover {cursor: url('link.gif'), auto}
  
   #wikframe {
     border: none;
   }
   

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

html {}

body {
	margin: 0;
	background-color: black;
	font-family: 'Comic Sans MS';
	color: #ffffff;
	font-size: 11px;
  background-image:url('leonebg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: 100%;
	height: 100%;
}
em {
  font-style:italic;
}
strong {
  font-weight:bold;
  color: var(--mainborder);
}

.clear {
	clear: both;
}

#container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15%;
	padding-right: 15%;
}

.updates {
	height: 300px;
}

.navigation {
	width: 100px;
	height: 1vh;
}

#left_sidebar {
	text-align: center;
}

.nav {
	width: 100%;
	min-height: 76px;
}

.introtxt {
	margin-top: 20px;
	margin-bottom: 20px;
}

a {
	color: white;
	font-weight:bold;
}

.red {
	color: var(--mainborder) !important;
}

.navbar {
	width: 100%;
	height: 20px;
}

.item-left,
.item-right {
	font-size: 15px;
	vertical-align: center;
}

.item-left {
	padding-left: 125px;
}

.item-right {
	text-align: right;
	padding-right: 125px;
}

article .about strong {
	color: var(--mainborder);
}

#main {
	display: flex;
	height: auto;
	min-width: 700px;
	/* add this to fit to width of screen: height:85vh; */
}

#main>article {
	flex: 1;
}

#main>nav,
#main>aside {
	flex: 0 0 11.5vw;
	font-size: 15px;
	padding-top:50px;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:50px;
}

.moviepics {
	padding-left: 5%;
	padding-right: 1%;
	width: 100%;
}

.moviepics img {
	width: 14%;
	height: 150px;
	min-width: 100px;
}

#main>nav {
	order: -1;
}

.rightsidebar a {
	font-size: 12px;
	line-height: 12px;
	text-decoration: none;
}

.navigation {
	padding: 1em;
}

footer,
nav,
aside {
	padding: 0;
	line-height: 25px;
	font-weight: bold;
	font-family: 'Comic Sans MS';
}

aside,
nav {}

.guestbook {
	height: 100px;
	width: 100px;
	background-color: var(--mainborder);
	border-radius: 50%;
}

.flair {
	margin-left: auto;
	margin-right: auto;
	width: 176px;
}

::-webkit-scrollbar {
	width: 6px;
}


/* Track */

::-webkit-scrollbar-track {}


/* Handle */

::-webkit-scrollbar-thumb {
	background: var(--mainborder);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: var(--mainborder);
}

.column {
	float: left;
}

.left {
	width: 50%;
	padding: 20px;
}

.right {
	width: 50%;
	padding: 20px;
}

img {
	display: inline-block;
}

.graphicslinks,
.graphicslinks a {
	font-size: 24px;
	line-height: 45px;
	font-weight: bold;
	font-style: italic;
}

.tilebg img {
	width: 75px;
	height: 75px;
}

.tilebgnew img {
	height:150px;
	width:auto;
}

.divider {
	display: block;
	max-width: 100%;
}

.divider img {
	display: block;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

article {
	background-repeat: repeat;
	letter-spacing: 1.5px;
	height: auto;
	font-family: 'Comic Sans MS';
	font-size: 16px;
	width: 100%;
	line-height: 22px;
	padding-left: 65px;
  padding-right: 65px;
	padding-bottom: 65px;
	padding-top: 35px;
}

.fullwidth {}

.blink_me {
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.contentbg {
	position: relative;
}

.contentbg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('https://64.media.tumblr.com/d22469d5bc1765ac139e6c5052fc3255/tumblr_mttju1EvbP1rafo29o1_250.gif');
	filter: grayscale(100%);
}

.contentbg {
	/* This will make it stack on top of the ::before */
	position: relative;
}

.hi {
	position: relative;
	font-size: 18px;
	line-height: 24px;
	width: 100%;
	background: var(--mainborder);
	border-radius: 40px;
	padding: 24px;
	text-align: center;
	color: #fff;
}

.hi-bottom-left:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 24px solid var(--mainborder);
	border-right: 12px solid transparent;
	border-top: 12px solid var(--mainborder);
	border-bottom: 20px solid transparent;
	left: 32px;
	bottom: -24px;
}

.bubble {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
}

body {
	padding: 0 2rem;
}

.manifesto {
	padding: 20px;
	margin-top: 20px;
}

.notice {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.manifesto h1 {
	font-family: 'Comic Sans MS';
	display: inline;
}

.intro {
	background-color: purple;
	font-weight: bold;
	padding: 5px;
	color: black;
}

header {
  display:none;
	font-style: italic;
	width: 100%;
	height: 215px;
	text-align: center;
}

.starsbg {}

.headerarea {
	padding-top: 25px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: var(--mainborder);
	font-size: 50px;
	position: relative;
	font-size: 3.5vw;
	font-family: 'Major Mono Display';
	font-weight: bold;
}

.head {
	padding-bottom: 100px;
	font-style: italic;
	width: 100%;
}

.heading {
	text-decoration: underline;
}

footer {
	color: white;
	padding: 1%;
}

#navbar {
	line-height: 25px;
	font-weight: bold;
	font-family: 'Major Mono Display';
	width: 100%;
	z-index:99;
	margin-top:5%;
}

.ads img {
	max-width: 33%;
}

#navbar ul li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
}

#navbar ul {
	padding-left: 0;
	display: inline-block;
	width: 100%;
	text-align: center;
}

#navbar li {
	padding: 2px;
	margin-top: 1%;
	margin-bottom: 1%;
}

#navbar li a {
	text-decoration: none;
	font-size: 35px;
	color: white;
	font-weight: bold;
	font-family: 'VT323';
	padding:10px;
}

div.demo {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
div.demo span {
    display: table-cell;
    text-align: center;
}

div.w3-include-html {
	width: 100%;
}

@keyframes flicker {
	0% {
		opacity: 0.27861;
	}
	5% {
		opacity: 0.34769;
	}
	10% {
		opacity: 0.23604;
	}
	15% {
		opacity: 0.90626;
	}
	20% {
		opacity: 0.18128;
	}
	25% {
		opacity: 0.83891;
	}
	30% {
		opacity: 0.65583;
	}
	35% {
		opacity: 0.67807;
	}
	40% {
		opacity: 0.26559;
	}
	45% {
		opacity: 0.84693;
	}
	50% {
		opacity: 0.96019;
	}
	55% {
		opacity: 0.08594;
	}
	60% {
		opacity: 0.20313;
	}
	65% {
		opacity: 0.71988;
	}
	70% {
		opacity: 0.53455;
	}
	75% {
		opacity: 0.37288;
	}
	80% {
		opacity: 0.71428;
	}
	85% {
		opacity: 0.70419;
	}
	90% {
		opacity: 0.7003;
	}
	95% {
		opacity: 0.36108;
	}
	100% {
		opacity: 0.24387;
	}
}

@keyframes textShadow {
	0% {
		text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	5% {
		text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	10% {
		text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	15% {
		text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5), -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	20% {
		text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5), -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	25% {
		text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	30% {
		text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	35% {
		text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5), -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	40% {
		text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5), -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	45% {
		text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5), -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	50% {
		text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	55% {
		text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	60% {
		text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5), -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	65% {
		text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5), -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	70% {
		text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5), -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	75% {
		text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5), -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	80% {
		text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	85% {
		text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5), -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	90% {
		text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5), -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	95% {
		text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5), -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	100% {
		text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
}

.rcrt::after {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.5s infinite;
}

.rcrt::before {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.01), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.01));
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

.rcrt {
	animation: textShadow 0.5s infinite;
}

table {
	width: 100%;
	font-size: 15px;
}

tr:nth-child(even) {
	background-color: var(--mainborder);
}

td {
	padding: 10px;
}

@media only screen and (max-width: 1410px) {
  	#container {
		width: 100%;
		padding-left: 4%;
		padding-right: 4%;
	}
}

@media only screen and (max-width: 1090px) {
  	#container {
		width: 100%;
		padding-left: 2%;
		padding-right: 2%;
	}
}

@media only screen and (max-width: 984px) {
	html {
		width: 100%;
	}
	body {
		padding: 0px;
	}
	#container {
		width: 100%;
		margin-left: 2px;
		margin-right: 2px;
		padding-left: -0px;
		padding-right: -0px;
	}
	article {
	  width:100%;
	  min-width:55%;
	}
	.fullwidth {
		padding-left: 10px;
		padding-right: 10px
	}
	#main {
	  display:block;
	  width:100%;
	  min-width:2%;
	}
	#main>nav, #main>aside {
  display:inline-flex;
  padding-left:0;
  padding-right:0;
	}
  #header, #navbar {
  width:100%;
	}
	#navbar {
	  padding:65px;
}

@media only screen and (max-width: 480px) {
	html {
		width: 100%;
	}
	body {
		padding: 0px;
	}
	#container {
		width: 100%;
		margin-left: 2px;
		margin-right: 2px;
		padding-left: -0px;
		padding-right: -0px;
	}
	article {
	  width:100%;
	  min-width:55%;
	}
	.fullwidth {
		padding-left: 10px;
		padding-right: 10px
	}
	#main {
	  display:block;
	  width:100%;
	  min-width:2%;
	}
	#main>nav, #main>aside {
  display:inline-flex;
  padding-left:0;
  padding-right:0;
  width:45%;
	}
  #header, #navbar {
  width:100%;
	}
	#navbar {
	  padding:65px;
}

border {
  color: red;
}