/* idk what fuckery this is */

th, td {
	font-size:13px; 
	font-weight:normal; 
	text-align:left; 
	vertical-align:top;
	font-family: 'verdana';
}

table a {
	color: 8E0909;
	text-decoration: underline;
}