
/* Loading Fonts for Use */

@font-face {
    font-family: 'momstypewriterregular';
    src: url('/moms_typewriter-webfont.woff2') format('woff2'),
         url('/moms_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
   
@font-face {
    font-family: 'my_chemical_romanceregular';
    src: url('/my_chemical_romance-webfont.woff2') format('woff2'),
         url('/my_chemical_romance-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}   

/* this is called a CSS reset, it removes default styles from your page */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Meat and Potatoes (main layout stuff) */

body {
	margin: 0;
	background-color: #000000;
	font-family: 'momstypewriterregular';
	color: #ffffff;
	font-size: 11px;
	line-height: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

#header {
	position: relative;
	background-color: #ff0000;
	top: 0px;
	width: 100%;
	height: 100px;
	background-image: url('/images/headerbg.jpg');
	background-repeat: repeat-x;
	background-size: 70px 100px;
}

#nav {
	background-image: url('/images/blackbar.jpg');
	background-size: 100% 100%;
	position: relative;
	background-color: #000;
	width: 100%;
	height: 35px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;	
}

#main {
	position: relative;
	height: 1300px;
	width: 100%;
	margin: 0px;
	background-color: #000;
}

#right {
}

#left {
}

#footer {
	position: relative;
	background-color: #ff0000;
	background-image: url('/images/footerbg.jpg');
	background-repeat: repeat-x;
	background-size: 100% 100px;
	width: 100%;
	height: 100px;
	border-top: 3px white solid;
	
}

/* ccursor stuff */

 body {cursor: url('/images/cursor.gif'), auto;}
 a, a:hover {cursor: url('/images/link.gif'), auto}

/* silly little layouts */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.msg {
    background-color:#000;
    padding:15px;
    border: 3px groove red;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: #ff0000;
}

/* This lets you use div class="column left" and "column right" for two columns */

.column {
	float: left;
}

.left {
	width: 50%;
}

.right {
	width: 50%;
}


/* Table Styling */

table {
	width: 80%;
	font-size: 15px;
	border-collapse: collapse;
	border-spacing: 0;
}

tr:nth-child(even) {
	background-color: #ff0000;
}

td {
	padding: 10px;
}

/* animations */

.blink_me {
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
 .pic
         {
         -webkit-animation: mover 1s infinite  alternate;
         animation: mover 2s infinite  alternate;
         }
         @-webkit-keyframes mover {
         0% { transform: translateY(0); }
         100% { transform: translateY(-15px); }
         }
         @keyframes mover {
         0% { transform: translateY(0); }
         100% { transform: translateY(-15px); }
         }
		 
/* These are miscellaneous styles */

/* All stuff below here is for viewing your site on different devices */

@media screen and (max-width: 1536px) {
	body { zoom: 80%; }
}

@media screen and (max-width: 1440px) {
	body { zoom: 75%; }
}

@media screen and (max-width: 1366px) {
	body { zoom: 70%; }
}

@media screen and (max-width: 1280px) {
	body { zoom: 65%; }
}

@media screen and (max-width: 1024px) {
	body { zoom: 60%; }
}

@media screen and (max-width: 992px) {
	body { zoom: 55%; }
}

@media screen and (max-width: 800px) {
	body { zoom: 50%; }
}

@media screen and (max-width: 600px) {
	body { zoom: 45%; }
}
