
/* Loading Fonts for Use */

@font-face {
    font-family: 'momstypewriterregular';
    src: url('/fonts/moms_typewriter-webfont.woff2') format('woff2'),
         url('/fonts/moms_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
   
@font-face {
    font-family: 'my_chemical_romanceregular';
    src: url('/fonts/my_chemical_romance-webfont.woff2') format('woff2'),
         url('/fonts/my_chemical_romance-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}   

/* this is called a CSS reset, it removes default styles from your page */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Meat and Potatoes (main layout stuff) */

body {
	margin: 0;
	background-color: #000000;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	color: #ffffff;
	font-size: 76%;
	overflow-y: auto;
	overflow-x: hidden;
}

#header {
	background-color: #8E0909;
	width: 100%;
	height: 100px;
	background-image: url('/images/headerbg.jpg');
	background-repeat: repeat-x;
	background-size: 70px 100px;
}

#main {
	height: auto;
	width: 100%;
	margin: 0px;
	background-color: #000;
	clear: both;
}
#cont {
    border: 1px solid #8E0909;
    padding: 20px 40px;
    margin: 0 215px;
    height: 100%;
	text-align: center;
	background-color: #fafcff;
	color: #000;
}

#footer {
	background-color: #8E0909;
	background-image: url('/images/footerbg.jpg');
	background-repeat: repeat-x;
	background-size: 100% 110px;
	width: 100%;
	height: 110px;
	clear: both;
	border-top: 2px white solid;
	text-align: center;
}

#footer a {
	color: white;
	text-decoration: none;
}

#footer a:hover {
	color: white;
	text-decoration: underline;
}

.clearingdiv {
    clear: both;
    height: 30px;
    width: 1px;
}
/* sidebar styles */

#sidebars {
	clear: both;
}

#right {
	width: 165px;
	float: right;
	text-align: center;
}

#left {
	width: 165px;
	float: left;
	text-align: center;
}

/* navbar styles */

#nav {
	background-image: url('/images/blackbar.jpg');
	float: left;
	background-size: 100% 100%;
	background-color: #000;
	width: 100%;
	height: 35px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

#nav ul {
	font-size: 16px;
	margin: 0;
	padding: 0
}

#nav li {
	float: left;
	width: auto;
	height: 35px;
	list-style: none;
	margin: 0;
	padding: 0
}

#nav a {
	border-right: 1px solid #2A2A2A;
	color: #fff;
	display: block;
	font-size: .7em;
	padding: 11px 10px 10px;
	text-transform: uppercase;
	text-decoration: none;
}

#nav a:active, #nav a:hover {
	background: #f0f0f0 url(/images/buttonbg.jpg) top left repeat-x;
	color: #000;
	text-decoration: none
}

/* layout with nav on right */

#layout1 {
	grid-template-columns: 80% 20%;
	grid-column-gap: 0px;
	display: grid;
	width: 100%;
}

#body {
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: -fit-content;
	text-align: center;
	
}

#navi {
	height: 20%;
	min-height: 350px;
	text-align: center;
	overflow-y: scroll;
	border: double 4px #8E0909;
}
/* ccursor stuff */

body {
    cursor: url(/images/cursor/pointer0.png), pointer;
    -webkit-animation: cursor 300ms infinite;
    animation: cursor 700ms infinite;
  }

  @-webkit-keyframes cursor {
    0% {cursor: url(/images/cursor/pointer0.png), pointer;}
    100% {cursor: url(/images/cursor/pointer1.png), pointer;}
  } 

  @keyframes cursor {
    0% {cursor: url(/images/cursor/pointer0.png), pointer;}
    100% {cursor: url(/images/cursor/pointer1.png), pointer;}
  }
  
  a, a:hover {
    cursor: url(/images/cursor/link0.png), pointer;
    -webkit-animation: link 300ms infinite;
    animation: link 700ms infinite;
  }

  @-webkit-keyframes link {
    0% {cursor: url(/images/cursor/link0.png), pointer;}
    50% {cursor: url(/images/cursor/link1.png), pointer;}
    100% {cursor: url(/images/cursor/link2.png), pointer;}
  } 

  @keyframes link {
    0% {cursor: url(/images/cursor/link0.png), pointer;}
    50% {cursor: url(/images/cursor/link1.png), pointer;}
    100% {cursor: url(/images/cursor/link2.png), pointer;}
  }
/* silly little layouts */

.artwork {
	width: 350px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.msg {
    padding:15px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border: double 4px #8E0909;
	text-align: center;
}

.updates {
	border: double 4px #8E0909;
	height: 250px;
	padding: 10px;
	overflow: auto;
	margin: 10px;
	background-color: #fafcff;
	color: #000;
}

.flex {
	display: flex;
	justify-content: center;
	margin: auto;
	text-align: center;
}

.left {
	width: 45%;
	order: 1;
}

.right {
	width: 45%;
	order: 2;
}


/* Scrollbar Styling */

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-button{
}

::-webkit-scrollbar-thumb {
	background: #8E0909;
}

/* list styles */

li { 
	margin: 2px;
}

.ul {
	text-align: left;
	list-style-image: url('/images/graphics/nukos/4444.gif');
}

.list {
	list-style-position: inside;
}

.sublist {
	text-indent: 50px;
	list-style-position: inside;
}

.subsublist {
	text-indent: 80px;
	list-style-position: inside;
}

/* Table Styling */

/* animations */

.blink_me {
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	50% { opacity: 0; }
}

.pic {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

/* hover for index page */

#myhover {
	width: 500px; /*width of the image */
	height: 500px; /* height of the image */
	background:url('/images/enter.png') no-repeat;
}

#myhover:hover {
	background:url('/images/enter1.png') no-repeat;
}

/* These are miscellaneous styles */

h1 {
    color:#000;
    font-size:1.8em;
    font-weight:700;
    letter-spacing:-1px;
}

h2{
    font-size:1.6em;
}

h3{
    font-size:1.4em;
    color:#8E0909;
}

p{
    line-height:1.5em;
}

a {
	color: #8E0909;
	text-decoration: none;
	font-weight: 700;
}

a:hover, a:active, a:visited {
	color: #8E0909;
	text-decoration: underline;
	font-weight: 700;
}

::selection {
  background: #8E0909;
  color: #000;
}

strong {
  color: #8E0909;
  font-weight: bold;
}

.span {
	background-color: #8E0909;
	color: #000;
	font-weight: bold;
	padding: 3px;
}
span {
	background-color: #8E0909;
	color: #000;
	font-weight: bold;
	padding: 3px;
}

/* All stuff below here is for viewing your site on different devices */

@media screen and (max-width: 1536px) {
	body { zoom: 97%; }
}

@media screen and (max-width: 1440px) {
	body { zoom: 95%; }
}

@media screen and (max-width: 1366px) {
	body { zoom: 93%; }
}

@media screen and (max-width: 1280px) {
	body { zoom: 90%; }
}

@media screen and (max-width: 1024px) {
	body { zoom: 87%; }
}

@media screen and (max-width: 992px) {
	body { zoom: 85%; }
}

@media screen and (max-width: 800px) {
	body { zoom: 83%; }
}

@media screen and (max-width: 600px) {
	body { zoom: 80%; }
}
